@import url('https://fonts.googleapis.com/css2? family=Roboto+Mono&display=swap');

/*reset*/

*{
    padding: 0;
    margin: 0;
    font-family:'Roboto Mono', monospace;
}

h2{
    text-align: center;
    padding: 50px;
 }

body{
    color: #000000;
} 

/*header*/

header {
    background-color:#000000;
}

header img {
    display:flex;
    width: 24% ;
}

/*menu-nav*/
.nav-link{
    color:#ffffff;
    font-size: 1.8ram;
}
.nav-link:hover{
    color:#fd0000;
}
.navbar-collapse {
    justify-content: flex-end;
}
.navbar-toggler{
    color: #ff0000;
    background-color: #000000;
    border: var(--bs-border-width) solid #000000;
}
/*imagen1 */

.nuevedejulio-menu{
    display:flex;
    flex-direction: end;
    justify-content: center;
    align-items: center;
    padding: 9px ;
    margin: 9px;
    background-color:#f7f1e5;
    gap: 30px;
    transition: 0.4s;
    border-radius: 8px;
    animation-name: inicio;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-duration: 2s;
    transform: translateX(0);
 }

.nuevedejulio-menu:hover{
    background-color:rgb(151, 29, 29);
    box-shadow: 4px 4px 4px 4px rgb(77, 23, 23);
 }

.imagen-nuevedejulio{
    display: flex;
    width: 46%;
    transition: 0.4s;
 }
.imagen-nuevedejulio:hover{
    width: 50%;
}

.letra-nuevedejulio{
    display: flex;
    width: 60%;
    text-align:center;
    padding: 50px;
}
@keyframes inicio {
    0% {
        transform: translateX(-150%);
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/*imagen2*/

.mercado-menu{
    display:flex;
    flex-direction:row-reverse;
    justify-content: center;
    align-items: center;
    padding: 9px ;
    margin: 9px;
    background-color:#f7f1e5;
    gap: 30px;
    transition: 0.4s;
    border-radius: 8px;
    animation-name: mercado;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-duration: 2s;
    transform: translateX(0);
 }

.mercado-menu:hover{
    background-color:rgb(151, 29, 29);
    box-shadow: 4px 4px 4px 4px rgb(77, 23, 23);
} 


.imagen-mercado{
    display:flex;
    flex-direction: row-reverse;
    width: 38%;
    transition: 0.4s;
}

.imagen-mercado:hover{
    width: 50%;
}
 
.letra-mercado{
    display: flex;
    flex-direction: center;
    width: 60%;
    text-align:center;
    padding: 50px;
}

@keyframes mercado {
    0% {
        transform: translateX(150%);
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/*imagen3*/

.parque-menu{
    display: flex;
    flex-direction : end ;
    justify-content: center;
    align-items: center;
    padding: 9px ;
    margin: 9px;
    background-color:#f7f1e5;
    gap: 30px;
    transition: 0.4s;
    border-radius: 8px;
    animation-name: inicio;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-duration: 2s;
    transform: translateX(0);
 }

.parque-menu:hover{
    background-color:rgb(151, 29, 29);
    box-shadow: 4px 4px 4px 4px rgb(77, 23, 23);
} 

.imagen-parque{
    display:flex;
    width: 46%;
    transition: 0.4s;
 }

.imagen-parque:hover{
    width: 50%;
}

.letra-parque{
    display:flex;
    width: 60%;
    text-align:center;
    padding: 50px;
 
}

@keyframes inicio {
    0% {
        transform: translateX(-150%);
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/*carousel*/
.carousel-inner {
    height: 700px;
}

.carousel-item {
    height: 700px;
}

.carousel-item img {
    height: 700px;
    object-fit: cover;
}

.carousel-caption{
    color:#ffffff; 
}

/*san lorenzo*/
 .san-lorenzo-menu{
    display:flex;
    flex-direction: end;
    justify-content: center;
    align-items: center;
    padding: 9px ;
    margin: 9px;
    background-color:#f7f1e5;
    gap: 30px;
    transition: 0.4s;
    border-radius: 8px;
    animation-name: inicio;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-duration: 2s;
    transform: translateX(0);
 }

 .san-lorenzo-menu:hover{
    background-color:rgb(151, 29, 29);
    box-shadow: 4px 4px 4px 4px rgb(77, 23, 23);
 }

 .imagen-quebrada{
    display: flex;
    width: 46%;
    transition: 0.4s;
 }

 .imagen-quebrada:hover{
    width: 50%;
}

.letra-quebrada{
    display: flex;
    width: 60%;
    text-align:center;
    padding: 50px;
   
}

@keyframes inicio {
    0% {
        transform: translateX(-150%);
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
 

.san-lorenzo-paseo{
    display:flex;
    flex-direction:row-reverse;
    justify-content: center;
    align-items: center;
    padding: 9px ;
    margin: 9px;
    background-color:#f7f1e5;
    gap: 30px;
    transition: 0.4s;
    border-radius: 8px;
    animation-name: san-lorenzo;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-duration: 2s;
    transform: translateX(0);
}

.san-lorenzo-paseo:hover{
    background-color:rgb(151, 29, 29);
    box-shadow: 4px 4px 4px 4px rgb(77, 23, 23);
}

.imagen-paseo{
    display: flex;
    width: 38%;
    transition: 0.4s;
}

.imagen-paseo:hover{
    width: 50%;
}

.letra-paseo{
    display: flex;
    width: 60%;
    text-align:center;
    padding: 50px;
   
}

@keyframes san-lorenzo {
    0% {
        transform: translateX(150%);
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.mapa-1{
    width: 100%;
    height: 300px;
}

.mapa1{
    display:flex;
    flex-direction:center;
    justify-content:center;
    align-items:center;
    padding: 9px ;
    margin: 9px;
    background-color:#f7f1e5;
    gap: 30px;
    border-radius: 8px;
}
.mapa1:hover{
    background-color:rgb(151, 29, 29);
    box-shadow: 4px 4px 4px 4px rgb(77, 23, 23);
}

.mapa-2{
    width: 100%;
    height: 300px;
}
.mapa2{
    display:flex;
    flex-direction: center;
    justify-content: center;
    align-items: center;
    padding: 9px ;
    margin: 9px;
    background-color:#f7f1e5;
    gap: 30px;
    border-radius: 8px;
}

.mapa2:hover{
    background-color:rgb(151, 29, 29);
    box-shadow: 4px 4px 4px 4px rgb(77, 23, 23);
}

/*video */

.video-salta{
    display:flex;
    justify-content: space-around;
    align-items: center;
    padding: 12px ;
    margin: 12px;
    background-color:#f7f1e5;
    gap: 30px;
    border-radius: 8px;
}

.video-salta:hover{
    background-color:rgb(151, 29, 29);
    box-shadow: 4px 4px 4px 4px rgb(77, 23, 23);
}

/*turismo*/
.prin{
    display: inline-block;
    text-align:center;
    padding: 5px;
}

.grilla {
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
        'area1 area5 area2'
        'area4 area3 area6'
    ;
    padding: 30px;
}


.caja {
    width: 100%;
    height: 100%;
    background-color:rgb(151, 29, 29);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    box-shadow: 4px 4px 4px 4px rgb(77, 23, 23);
}

.caja img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    border: 2px solid rgb(151, 29, 29);
    gap: 30px;
    filter:blur(2px);
    transition: 0.5s;
}

.caja img:hover{
    filter: blur(0);

}
.mapa-cafa-1{
    width: 100%;
    height: 300px;
}

.mapa-cafa{
    display:flex;
    flex-direction: center;
    justify-content: center;
    align-items: center;
    padding: 9px ;
    margin: 9px;
    background-color:#f7f1e5;
    gap: 30px;
    border-radius: 8px;
}

.mapa-cafa:hover{
    background-color:rgb(151, 29, 29);
    box-shadow: 4px 4px 4px 4px rgb(77, 23, 23);
}

/*alemaania*/
.letra-alem{
    text-align:center;
    padding: 5px;
}

.prin1{
    display: inline-block;
    text-align:center;
    padding: 5px;
}

.mapa-alemania-1{
    width: 100%;
    height: 300px;
}
.mapa-alemania{ 
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 9px ;
    margin: 9px;
    background-color:#f7f1e5;
    gap: 30px;
    border-radius: 8px;
}

.mapa-alemania:hover{
    background-color:rgb(151, 29, 29);
    box-shadow: 4px 4px 4px 4px rgb(77, 23, 23);
}
/*tradiciones*/
 .comparsa-menu{
    display:flex;
    flex-direction: end;
    justify-content: center;
    align-items: center;
    padding: 9px ;
    margin: 9px;
    background-color:#f7f1e5;
    gap: 30px;
    transition: 0.4s;
    border-radius: 8px;
    animation-name: tradiciones;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-duration: 2s;
    transform: translateX(0);
 }

 .comparsa-menu:hover{
    background-color:rgb(151, 29, 29);
    box-shadow: 4px 4px 4px 4px rgb(77, 23, 23);
 }

.imagen-comparsa{
    display: flex;
    width: 46%;
    transition: 0.4s;
 }
.imagen-comparsa:hover{
    width: 50%;
}

.letracomparsa{
    display: flex;
    width: 60%;
    text-align:center;
    padding: 50px;
}

@keyframes tradiciones {
    0% {
        transform: translateX(-150%);
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/*imagen2*/

.pachamama-menu{
    display:flex;
    flex-direction:row-reverse;
    justify-content: center;
    align-items: center;
    padding: 9px ;
    margin: 9px;
    background-color:#f7f1e5;
    gap: 30px;
    transition: 0.4s;
    border-radius: 8px;
    animation-name: pachamama;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-duration: 2s;
    transform: translateX(0);
 }

.pachamama-menu:hover{
    background-color:rgb(151, 29, 29);
    box-shadow: 4px 4px 4px 4px rgb(77, 23, 23);
} 


.imagen-pachamama{
    display:flex;
    flex-direction: row-reverse;
    width: 38%;
    transition: 0.4s;
 }

.imagen-pachamama:hover{
    width: 50%;
}
 
.letra-pachamama{
    display: flex;
    flex-direction: center;
    width: 60%;
    text-align:center;
    padding: 50px;
}

@keyframes pachamama {
    0% {
        transform: translateX(150%);
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/*imagen3*/

.milagro-menu{
    display:flex;
    flex-direction: end;
    justify-content: center;
    align-items: center;
    padding: 9px ;
    margin: 9px;
    background-color:#f7f1e5;
    gap: 30px;
    transition: 0.4s;
    border-radius: 8px;
    animation-name: tradiciones;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-duration: 2s;
    transform: translateX(0);
 }

.milagro-menu:hover{
    background-color:rgb(151, 29, 29);
    box-shadow: 4px 4px 4px 4px rgb(77, 23, 23);
} 


.imagen-milagro{
    display:flex;
    width: 46%;
    transition: 0.4s;
 }

.imagen-milagro:hover{
    width: 50%;
}

.letramilagro{
    display:flex;
    width: 60%;
    text-align:center;
    padding: 50px;
 
}

@keyframes tradiciones {
    0% {
        transform: translateX(-150%);
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/*imagen4*/

.balderrama-menu{
    display:flex;
    flex-direction:row-reverse;
    justify-content: center;
    align-items: center;
    padding: 9px ;
    margin: 9px;
    background-color:#f7f1e5;
    gap: 30px;
    transition: 0.4s;
    border-radius: 8px;
    transition: 0.4s;
    border-radius: 8px;
    animation-name: balderrama;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-duration: 2s;
    transform: translateX(0);
 }

.balderrama-menu:hover{
    background-color:rgb(151, 29, 29);
    box-shadow: 4px 4px 4px 4px rgb(77, 23, 23);
} 


.imagen-balderrama{
    display:flex;
    flex-direction: row-reverse;
    width: 38%;
    transition: 0.4s;
 }

.imagen-balderrama:hover{
    width: 50%;
}
 
.letra-balderrama{
    display: flex;
    flex-direction: center;
    width: 60%;
    text-align:center;
    padding: 50px;
}

@keyframes balderrama {
    0% {
        transform: translateX(150%);
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/*menu-footer*/

.cards__container {
    width: 100%;
    padding: 20px;
}

.text-body-secondary{
    color: #000000!important;
}

/*deportes extremos*/
 /*imagen1 */

 .jumping-menu{
    display:flex;
    flex-direction: end;
    justify-content: center;
    align-items: center;
    padding: 9px ;
    margin: 9px;
    background-color:#f7f1e5;
    gap: 30px;
    transition: 0.4s;
    border-radius: 8px;
    animation-name: deportes;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-duration: 2s;
    transform: translateX(0);
 }

 .jumping-menu:hover{
    background-color:rgb(151, 29, 29);
    box-shadow: 4px 4px 4px 4px rgb(77, 23, 23);
 }

.imagen-jumping{
    display: flex;
    width: 46%;
    transition: 0.4s;
 }
.imagen-jumping:hover{
    width: 50%;
}

.letra-jumping{
    display: flex;
    width: 60%;
    text-align:center;
    padding: 50px;
}

@keyframes deportes {
    0% {
        transform: translateX(-150%);
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/*imagen2*/

.rafting-menu{
    display:flex;
    flex-direction:row-reverse;
    justify-content: center;
    align-items: center;
    padding: 9px ;
    margin: 9px;
    background-color:#f7f1e5;
    gap: 30px;
    transition: 0.4s;
    border-radius: 8px;
    animation-name: rafting;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-duration: 2s;
    transform: translateX(0);
 }

.rafting-menu:hover{
    background-color:rgb(151, 29, 29);
    box-shadow: 4px 4px 4px 4px rgb(77, 23, 23);
} 


.imagen-rafting{
    display:flex;
    flex-direction: row-reverse;
    width: 38%;
    transition: 0.4s;
 }

 .imagen-rafting:hover{
    width: 50%;
}
 
.letra-rafting{
    display: flex;
    flex-direction: center;
    width: 60%;
    text-align:center;
    padding: 50px;
}

@keyframes rafting {
    0% {
        transform: translateX(150%);
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/*imagen3*/

.escalar-menu{
    display:flex;
    flex-direction: end;
    justify-content: center;
    align-items: center;
    padding: 9px ;
    margin: 9px;
    background-color:#f7f1e5;
    gap: 30px;
    transition: 0.4s;
    border-radius: 8px;
    animation-name: deportes;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-duration: 2s;
    transform: translateX(0);
 }

.escalar-menu:hover{
    background-color:rgb(151, 29, 29);
    box-shadow: 4px 4px 4px 4px rgb(77, 23, 23);
 }

.imagen-escalar{
    display:flex;
    width: 46%;
    transition: 0.4s;
 }

.imagen-escalar:hover{
    width: 50%;
}

.letra-escalar{
    display:flex;
    width: 60%;
    text-align:center;
    padding: 50px;
 
}

@keyframes deportes {
    0% {
        transform: translateX(-150%);
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/*video */

.video-salta{
    display:flex;
    justify-content: space-around;
    align-items: center;
    padding: 12px ;
    margin: 12px;
    background-color:#f7f1e5;
    gap: 30px;
    border-radius: 8px;
}

.video-salta:hover{
    background-color:rgb(151, 29, 29);
    box-shadow: 4px 4px 4px 4px rgb(77, 23, 23);
}

/*historia cultura*/
 /*imagen1 */

 .momias-menu{
    display:flex;
    flex-direction: end;
    justify-content: center;
    align-items: center;
    padding: 9px ;
    margin: 9px;
    background-color:#f7f1e5;
    gap: 30px;
    transition: 0.4s;
    border-radius: 8px;
    animation-name: historia;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-duration: 2s;
    transform: translateX(0);
 }

.momias-menu:hover{
    background-color:rgb(151, 29, 29);
    box-shadow: 4px 4px 4px 4px rgb(77, 23, 23);
 }

.imagen-momias{
    display: flex;
    width: 46%;
    transition: 0.4s;
 }
.imagen-momias:hover{
    width: 50%;
}

.letra-momias{
    display: flex;
    width: 60%;
    text-align:center;
    padding: 50px;
}

@keyframes historia {
    0% {
        transform: translateX(-150%);
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/*imagen2*/

.tren-menu{
    display:flex;
    flex-direction:row-reverse;
    justify-content: center;
    align-items: center;
    padding: 9px ;
    margin: 9px;
    background-color:#f7f1e5;
    gap: 30px;
    transition: 0.4s;
    border-radius: 8px;
    animation-name: tren;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-duration: 2s;
    transform: translateX(0);
 }

.tren-menu:hover{
    background-color:rgb(151, 29, 29);
    box-shadow: 4px 4px 4px 4px rgb(77, 23, 23);
} 


.imagen-tren{
    display:flex;
    flex-direction: row-reverse;
    width: 38%;
    transition: 0.4s;
 }

.imagen-tren:hover{
    width: 50%;
}
 
.letra-tren{
    display: flex;
    flex-direction: center;
    width: 60%;
    text-align:center;
    padding: 50px;
}

@keyframes tren {
    0% {
        transform: translateX(150%);
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/*imagen3*/

.vinos-menu{
    display:flex;
    flex-direction: end;
    justify-content: center;
    align-items: center;
    padding: 9px ;
    margin: 9px;
    background-color:#f7f1e5;
    gap: 30px;
    transition: 0.4s;
    border-radius: 8px;
    animation-name: historia;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-duration: 2s;
    transform: translateX(0);
 }

.vinos-menu:hover{
    background-color:rgb(151, 29, 29);
    box-shadow: 4px 4px 4px 4px rgb(77, 23, 23);
 }

.imagen-vinos{
    display:flex;
    width: 46%;
    transition: 0.4s;
 }

.imagen-vinos:hover{
    width: 50%;
}

.letra-vinos{
    display:flex;
    width: 60%;
    text-align:center;
    padding: 50px;
 
}

@keyframes historia {
    0% {
        transform: translateX(-150%);
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/*video */

.video-salta{
    display:flex;
    justify-content: space-around;
    align-items: center;
    padding: 12px ;
    margin: 12px;
    background-color:#f7f1e5;
    gap: 30px;
    border-radius: 8px;
}

.video-salta:hover{
    background-color:rgb(151, 29, 29);
    box-shadow: 4px 4px 4px 4px rgb(77, 23, 23);
}

/*tablet*/

@media (min-width: 992px){
    .navbar-expand-lg .navbar-nav .nav-link{
        padding: 5.5px;
        font-weight: bold;
    } 
  
}

@media only screen and (max-width:768px){
    .carousel-inner, .carousel-item, .carousel-item img {
        height: 600px;
    }
    
    .carousel-inner, .carousel-item, .carousel-item img {
        height: 250px;
    }

    .nuevedejulio-menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 9px;
        margin: 9px;
        background-color: #f7f1e5;
        gap: 30px;
        transition: 0.4s;
        border-radius: 8px;
    }

    .imagen-nuevedejulio {
        display: flex;
        width: 70%;
        transition: 0.4s;
    }
    .letra-nuevedejulio {
        display: flex;
        width: 100%;
        text-align: center;
        padding: 50px;
    }
    .mercado-menu{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 9px;
        margin: 9px;
        background-color: #f7f1e5;
        gap: 30px;
        transition: 0.4s;
        border-radius: 8px;
    }
    .imagen-mercado{
        display: flex;
        width: 70%;
        transition: 0.4s;
    }
    .letra-mercado{
        display: flex;
        width: 100%;
        text-align: center;
        padding: 50px;
    }
    .parque-menu{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 9px;
        margin: 9px;
        background-color: #f7f1e5;
        gap: 30px;
        transition: 0.4s;
        border-radius: 8px;
    }
    .imagen-parque{
        display: flex;
        width: 70%;
        transition: 0.4s;
    }
    .letra-parque{
        display: flex;
        width: 100%;
        text-align: center;
        padding: 50px;
    }
    .san-lorenzo-menu{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 9px;
        margin: 9px;
        background-color: #f7f1e5;
        gap: 30px;
        transition: 0.4s;
        border-radius: 8px;
    }
    .imagen-quebrada{
        display: flex;
        width: 70%;
        transition: 0.4s;
    }
    .letra-quebrada{
        display: flex;
        width: 100%;
        text-align: center;
        padding: 50px;
    }
    .san-lorenzo-paseo{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 9px;
        margin: 9px;
        background-color: #f7f1e5;
        gap: 30px;
        transition: 0.4s;
        border-radius: 8px;
    }
    .imagen-paseo{
        display: flex;
        width: 70%;
        transition: 0.4s;
    }
    .letra-paseo{
        display: flex;
        width: 100%;
        text-align: center;
        padding: 50px;
    }
    .jumping-menu{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 9px;
        margin: 9px;
        background-color: #f7f1e5;
        gap: 30px;
        transition: 0.4s;
        border-radius: 8px;
    }
    .imagen-jumping{
        display: flex;
        width: 70%;
        transition: 0.4s;
    }
    .letra-jumping{
        display: flex;
        width: 100%;
        text-align: center;
        padding: 50px;
    }
    .rafting-menu{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 9px;
        margin: 9px;
        background-color: #f7f1e5;
        gap: 30px;
        transition: 0.4s;
        border-radius: 8px;
    }
    .imagen-rafting{
        display: flex;
        width: 70%;
        transition: 0.4s;
    }
    .letra-rafting{
        display: flex;
        width: 100%;
        text-align: center;
        padding: 50px;
    }
    .escalar-menu{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 9px;
        margin: 9px;
        background-color: #f7f1e5;
        gap: 30px;
        transition: 0.4s;
        border-radius: 8px;
    }
    .imagen-escalar{
        display: flex;
        width: 70%;
        transition: 0.4s;
    }
    .letra-escalar{
        display: flex;
        width: 100%;
        text-align: center;
        padding: 50px;
    }
    .momias-menu{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 9px;
        margin: 9px;
        background-color: #f7f1e5;
        gap: 30px;
        transition: 0.4s;
        border-radius: 8px;
    }
    .imagen-momias{
        display: flex;
        width: 70%;
        transition: 0.4s;
    }
    .letra-momias{
        display: flex;
        width: 100%;
        text-align: center;
        padding: 50px;
    }
    .tren-menu{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 9px;
        margin: 9px;
        background-color: #f7f1e5;
        gap: 30px;
        transition: 0.4s;
        border-radius: 8px;
    }
    .imagen-tren{
        display: flex;
        width: 70%;
        transition: 0.4s;
    }
    .letra-tren{
        display: flex;
        width: 100%;
        text-align: center;
        padding: 50px;
    }
    .vinos-menu{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 9px;
        margin: 9px;
        background-color: #f7f1e5;
        gap: 30px;
        transition: 0.4s;
        border-radius: 8px;
    }
    .imagen-vinos{
        display: flex;
        width: 70%;
        transition: 0.4s;
    }
    .letra-vinos{
        display: flex;
        width: 100%;
        text-align: center;
        padding: 50px;
    }
    .comparsa-menu{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 9px;
        margin: 9px;
        background-color: #f7f1e5;
        gap: 30px;
        transition: 0.4s;
        border-radius: 8px;
    }
    .imagen-comparsa{
        display: flex;
        width: 70%;
        transition: 0.4s;
    }
    .letra-comparsa{
        display: flex;
        width: 100%;
        text-align: center;
        padding: 50px;
    }
    .pachamama-menu{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 9px;
        margin: 9px;
        background-color: #f7f1e5;
        gap: 30px;
        transition: 0.4s;
        border-radius: 8px;
    }
    .imagen-pachamama{
        display: flex;
        width: 70%;
        transition: 0.4s;
    }
    .letra-pachamama{
        display: flex;
        width: 100%;
        text-align: center;
        padding: 50px;
    }
    .milagro-menu{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 9px;
        margin: 9px;
        background-color: #f7f1e5;
        gap: 30px;
        transition: 0.4s;
        border-radius: 8px;
    }
    .imagen-milagro{
        display: flex;
        width: 70%;
        transition: 0.4s;
    }
    .letra-milagro{
        display: flex;
        width: 100%;
        text-align: center;
        padding: 50px;
    }
    .balderrama-menu{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 9px;
        margin: 9px;
        background-color: #f7f1e5;
        gap: 30px;
        transition: 0.4s;
        border-radius: 8px;
    }
    .imagen-balderrama{
        display: flex;
        width: 70%;
        transition: 0.4s;
    }
    .letra-balderrama{
        display: flex;
        width: 100%;
        text-align: center;
        padding: 50px;
    }


    .video-salta{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        padding: 9px;
        margin: 9px;
        background-color: #f7f1e5;
        gap: 30px;
        border-radius: 8px;
    }

 iframe{
    width: 700px;
 }
    

}

@media only screen and (max-width:576px){
    
    .carousel-inner, .carousel-item, .carousel-item img {
        height: 250px;
    }

    .nuevedejulio-menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 9px;
        margin: 9px;
        background-color: #f7f1e5;
        gap: 30px;
        transition: 0.4s;
        border-radius: 8px;
    }

    .imagen-nuevedejulio {
        display: flex;
        width: 70%;
        transition: 0.4s;
    }
    .letra-nuevedejulio {
        display: flex;
        width: 100%;
        text-align: center;
        padding: 50px;
    }
    .mercado-menu{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 9px;
        margin: 9px;
        background-color: #f7f1e5;
        gap: 30px;
        transition: 0.4s;
        border-radius: 8px;
    }
    .imagen-mercado{
        display: flex;
        width: 70%;
        transition: 0.4s;
    }
    .letra-mercado{
        display: flex;
        width: 100%;
        text-align: center;
        padding: 50px;
    }
    .parque-menu{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 9px;
        margin: 9px;
        background-color: #f7f1e5;
        gap: 30px;
        transition: 0.4s;
        border-radius: 8px;
    }
    .imagen-parque{
        display: flex;
        width: 70%;
        transition: 0.4s;
    }
    .letra-parque{
        display: flex;
        width: 100%;
        text-align: center;
        padding: 50px;
    }
    .san-lorenzo-menu{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 9px;
        margin: 9px;
        background-color: #f7f1e5;
        gap: 30px;
        transition: 0.4s;
        border-radius: 8px;
    }
    .imagen-quebrada{
        display: flex;
        width: 70%;
        transition: 0.4s;
    }
    .letra-quebrada{
        display: flex;
        width: 100%;
        text-align: center;
        padding: 50px;
    }
    .san-lorenzo-paseo{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 9px;
        margin: 9px;
        background-color: #f7f1e5;
        gap: 30px;
        transition: 0.4s;
        border-radius: 8px;
    }
    .imagen-paseo{
        display: flex;
        width: 70%;
        transition: 0.4s;
    }
    .letra-paseo{
        display: flex;
        width: 100%;
        text-align: center;
        padding: 50px;
    }
    .jumping-menu{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 9px;
        margin: 9px;
        background-color: #f7f1e5;
        gap: 30px;
        transition: 0.4s;
        border-radius: 8px;
    }
    .imagen-jumping{
        display: flex;
        width: 70%;
        transition: 0.4s;
    }
    .letra-jumping{
        display: flex;
        width: 100%;
        text-align: center;
        padding: 50px;
    }
    .rafting-menu{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 9px;
        margin: 9px;
        background-color: #f7f1e5;
        gap: 30px;
        transition: 0.4s;
        border-radius: 8px;
    }
    .imagen-rafting{
        display: flex;
        width: 70%;
        transition: 0.4s;
    }
    .letra-rafting{
        display: flex;
        width: 100%;
        text-align: center;
        padding: 50px;
    }
    .escalar-menu{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 9px;
        margin: 9px;
        background-color: #f7f1e5;
        gap: 30px;
        transition: 0.4s;
        border-radius: 8px;
    }
    .imagen-escalar{
        display: flex;
        width: 70%;
        transition: 0.4s;
    }
    .letra-escalar{
        display: flex;
        width: 100%;
        text-align: center;
        padding: 50px;
    }
    .momias-menu{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 9px;
        margin: 9px;
        background-color: #f7f1e5;
        gap: 30px;
        transition: 0.4s;
        border-radius: 8px;
    }
    .imagen-momias{
        display: flex;
        width: 70%;
        transition: 0.4s;
    }
    .letra-momias{
        display: flex;
        width: 100%;
        text-align: center;
        padding: 50px;
    }
    .tren-menu{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 9px;
        margin: 9px;
        background-color: #f7f1e5;
        gap: 30px;
        transition: 0.4s;
        border-radius: 8px;
    }
    .imagen-tren{
        display: flex;
        width: 70%;
        transition: 0.4s;
    }
    .letra-tren{
        display: flex;
        width: 100%;
        text-align: center;
        padding: 50px;
    }
    .vinos-menu{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 9px;
        margin: 9px;
        background-color: #f7f1e5;
        gap: 30px;
        transition: 0.4s;
        border-radius: 8px;
    }
    .imagen-vinos{
        display: flex;
        width: 70%;
        transition: 0.4s;
    }
    .letra-vinos{
        display: flex;
        width: 100%;
        text-align: center;
        padding: 50px;
    }
    .comparsa-menu{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 9px;
        margin: 9px;
        background-color: #f7f1e5;
        gap: 30px;
        transition: 0.4s;
        border-radius: 8px;
    }
    .imagen-comparsa{
        display: flex;
        width: 70%;
        transition: 0.4s;
    }
    .letra-comparsa{
        display: flex;
        width: 100%;
        text-align: center;
        padding: 50px;
    }
    .pachamama-menu{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 9px;
        margin: 9px;
        background-color: #f7f1e5;
        gap: 30px;
        transition: 0.4s;
        border-radius: 8px;
    }
    .imagen-pachamama{
        display: flex;
        width: 70%;
        transition: 0.4s;
    }
    .letra-pachamama{
        display: flex;
        width: 100%;
        text-align: center;
        padding: 50px;
    }
    .milagro-menu{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 9px;
        margin: 9px;
        background-color: #f7f1e5;
        gap: 30px;
        transition: 0.4s;
        border-radius: 8px;
    }
    .imagen-milagro{
        display: flex;
        width: 70%;
        transition: 0.4s;
    }
    .letra-milagro{
        display: flex;
        width: 100%;
        text-align: center;
        padding: 50px;
    }
    .balderrama-menu{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 9px;
        margin: 9px;
        background-color: #f7f1e5;
        gap: 30px;
        transition: 0.4s;
        border-radius: 8px;
    }
    .imagen-balderrama{
        display: flex;
        width: 70%;
        transition: 0.4s;
    }
    .letra-balderrama{
        display: flex;
        width: 100%;
        text-align: center;
        padding: 50px;
    }


    .video-salta{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        padding: 9px;
        margin: 9px;
        background-color: #f7f1e5;
        gap: 30px;
        border-radius: 8px;
    }

 iframe{
    width: 500px;
 }
    

}
/*movil*/
@media only screen and (max-width:480px){
     
    .carousel-inner, .carousel-item, .carousel-item img {
        height: 250px;
    }

    .nuevedejulio-menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 9px;
        margin: 9px;
        background-color: #f7f1e5;
        gap: 30px;
        transition: 0.4s;
        border-radius: 8px;
    }

    .imagen-nuevedejulio {
        display: flex;
        width: 70%;
        transition: 0.4s;
    }
    .letra-nuevedejulio {
        display: flex;
        width: 100%;
        text-align: center;
        padding: 50px;
    }
    .mercado-menu{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 9px;
        margin: 9px;
        background-color: #f7f1e5;
        gap: 30px;
        transition: 0.4s;
        border-radius: 8px;
    }
    .imagen-mercado{
        display: flex;
        width: 70%;
        transition: 0.4s;
    }
    .letra-mercado{
        display: flex;
        width: 100%;
        text-align: center;
        padding: 50px;
    }
    .parque-menu{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 9px;
        margin: 9px;
        background-color: #f7f1e5;
        gap: 30px;
        transition: 0.4s;
        border-radius: 8px;
    }
    .imagen-parque{
        display: flex;
        width: 70%;
        transition: 0.4s;
    }
    .letra-parque{
        display: flex;
        width: 100%;
        text-align: center;
        padding: 50px;
    }
    .san-lorenzo-menu{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 9px;
        margin: 9px;
        background-color: #f7f1e5;
        gap: 30px;
        transition: 0.4s;
        border-radius: 8px;
    }
    .imagen-quebrada{
        display: flex;
        width: 70%;
        transition: 0.4s;
    }
    .letra-quebrada{
        display: flex;
        width: 100%;
        text-align: center;
        padding: 50px;
    }
    .san-lorenzo-paseo{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 9px;
        margin: 9px;
        background-color: #f7f1e5;
        gap: 30px;
        transition: 0.4s;
        border-radius: 8px;
    }
    .imagen-paseo{
        display: flex;
        width: 70%;
        transition: 0.4s;
    }
    .letra-paseo{
        display: flex;
        width: 100%;
        text-align: center;
        padding: 50px;
    }
    .jumping-menu{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 9px;
        margin: 9px;
        background-color: #f7f1e5;
        gap: 30px;
        transition: 0.4s;
        border-radius: 8px;
    }
    .imagen-jumping{
        display: flex;
        width: 70%;
        transition: 0.4s;
    }
    .letra-jumping{
        display: flex;
        width: 100%;
        text-align: center;
        padding: 50px;
    }
    .rafting-menu{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 9px;
        margin: 9px;
        background-color: #f7f1e5;
        gap: 30px;
        transition: 0.4s;
        border-radius: 8px;
    }
    .imagen-rafting{
        display: flex;
        width: 70%;
        transition: 0.4s;
    }
    .letra-rafting{
        display: flex;
        width: 100%;
        text-align: center;
        padding: 50px;
    }
    .escalar-menu{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 9px;
        margin: 9px;
        background-color: #f7f1e5;
        gap: 30px;
        transition: 0.4s;
        border-radius: 8px;
    }
    .imagen-escalar{
        display: flex;
        width: 70%;
        transition: 0.4s;
    }
    .letra-escalar{
        display: flex;
        width: 100%;
        text-align: center;
        padding: 50px;
    }
    .momias-menu{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 9px;
        margin: 9px;
        background-color: #f7f1e5;
        gap: 30px;
        transition: 0.4s;
        border-radius: 8px;
    }
    .imagen-momias{
        display: flex;
        width: 70%;
        transition: 0.4s;
    }
    .letra-momias{
        display: flex;
        width: 100%;
        text-align: center;
        padding: 50px;
    }
    .tren-menu{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 9px;
        margin: 9px;
        background-color: #f7f1e5;
        gap: 30px;
        transition: 0.4s;
        border-radius: 8px;
    }
    .imagen-tren{
        display: flex;
        width: 70%;
        transition: 0.4s;
    }
    .letra-tren{
        display: flex;
        width: 100%;
        text-align: center;
        padding: 50px;
    }
    .vinos-menu{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 9px;
        margin: 9px;
        background-color: #f7f1e5;
        gap: 30px;
        transition: 0.4s;
        border-radius: 8px;
    }
    .imagen-vinos{
        display: flex;
        width: 70%;
        transition: 0.4s;
    }
    .letra-vinos{
        display: flex;
        width: 100%;
        text-align: center;
        padding: 50px;
    }
    .comparsa-menu{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 9px;
        margin: 9px;
        background-color: #f7f1e5;
        gap: 30px;
        transition: 0.4s;
        border-radius: 8px;
    }
    .imagen-comparsa{
        display: flex;
        width: 70%;
        transition: 0.4s;
    }
    .letra-comparsa{
        display: flex;
        width: 100%;
        text-align: center;
        padding: 50px;
    }
    .pachamama-menu{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 9px;
        margin: 9px;
        background-color: #f7f1e5;
        gap: 30px;
        transition: 0.4s;
        border-radius: 8px;
    }
    .imagen-pachamama{
        display: flex;
        width: 70%;
        transition: 0.4s;
    }
    .letra-pachamama{
        display: flex;
        width: 100%;
        text-align: center;
        padding: 50px;
    }
    .milagro-menu{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 9px;
        margin: 9px;
        background-color: #f7f1e5;
        gap: 30px;
        transition: 0.4s;
        border-radius: 8px;
    }
    .imagen-milagro{
        display: flex;
        width: 70%;
        transition: 0.4s;
    }
    .letra-milagro{
        display: flex;
        width: 100%;
        text-align: center;
        padding: 50px;
    }
    .balderrama-menu{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 9px;
        margin: 9px;
        background-color: #f7f1e5;
        gap: 30px;
        transition: 0.4s;
        border-radius: 8px;
    }
    .imagen-balderrama{
        display: flex;
        width: 70%;
        transition: 0.4s;
    }
    .letra-balderrama{
        display: flex;
        width: 100%;
        text-align: center;
        padding: 50px;
    }


    .video-salta{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        padding: 9px;
        margin: 9px;
        background-color: #f7f1e5;
        gap: 30px;
        border-radius: 8px;
    }

 iframe{
    width: 400px;
 }
    

}
@media only screen and (max-width:320px){
    .carousel-inner, .carousel-item, .carousel-item img {
        height: 250px;
    }

    .nuevedejulio-menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 9px;
        margin: 9px;
        background-color: #f7f1e5;
        gap: 30px;
        transition: 0.4s;
        border-radius: 8px;
    }

    .imagen-nuevedejulio {
        display: flex;
        width: 70%;
        transition: 0.4s;
    }
    .letra-nuevedejulio {
        display: flex;
        width: 100%;
        text-align: center;
        padding: 50px;
    }
    .mercado-menu{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 9px;
        margin: 9px;
        background-color: #f7f1e5;
        gap: 30px;
        transition: 0.4s;
        border-radius: 8px;
    }
    .imagen-mercado{
        display: flex;
        width: 70%;
        transition: 0.4s;
    }
    .letra-mercado{
        display: flex;
        width: 100%;
        text-align: center;
        padding: 50px;
    }
    .parque-menu{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 9px;
        margin: 9px;
        background-color: #f7f1e5;
        gap: 30px;
        transition: 0.4s;
        border-radius: 8px;
    }
    .imagen-parque{
        display: flex;
        width: 70%;
        transition: 0.4s;
    }
    .letra-parque{
        display: flex;
        width: 100%;
        text-align: center;
        padding: 50px;
    }
    .san-lorenzo-menu{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 9px;
        margin: 9px;
        background-color: #f7f1e5;
        gap: 30px;
        transition: 0.4s;
        border-radius: 8px;
    }
    .imagen-quebrada{
        display: flex;
        width: 70%;
        transition: 0.4s;
    }
    .letra-quebrada{
        display: flex;
        width: 100%;
        text-align: center;
        padding: 50px;
    }
    .san-lorenzo-paseo{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 9px;
        margin: 9px;
        background-color: #f7f1e5;
        gap: 30px;
        transition: 0.4s;
        border-radius: 8px;
    }
    .imagen-paseo{
        display: flex;
        width: 70%;
        transition: 0.4s;
    }
    .letra-paseo{
        display: flex;
        width: 100%;
        text-align: center;
        padding: 50px;
    }
    .jumping-menu{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 9px;
        margin: 9px;
        background-color: #f7f1e5;
        gap: 30px;
        transition: 0.4s;
        border-radius: 8px;
    }
    .imagen-jumping{
        display: flex;
        width: 70%;
        transition: 0.4s;
    }
    .letra-jumping{
        display: flex;
        width: 100%;
        text-align: center;
        padding: 50px;
    }
    .rafting-menu{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 9px;
        margin: 9px;
        background-color: #f7f1e5;
        gap: 30px;
        transition: 0.4s;
        border-radius: 8px;
    }
    .imagen-rafting{
        display: flex;
        width: 70%;
        transition: 0.4s;
    }
    .letra-rafting{
        display: flex;
        width: 100%;
        text-align: center;
        padding: 50px;
    }
    .escalar-menu{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 9px;
        margin: 9px;
        background-color: #f7f1e5;
        gap: 30px;
        transition: 0.4s;
        border-radius: 8px;
    }
    .imagen-escalar{
        display: flex;
        width: 70%;
        transition: 0.4s;
    }
    .letra-escalar{
        display: flex;
        width: 100%;
        text-align: center;
        padding: 50px;
    }
    .momias-menu{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 9px;
        margin: 9px;
        background-color: #f7f1e5;
        gap: 30px;
        transition: 0.4s;
        border-radius: 8px;
    }
    .imagen-momias{
        display: flex;
        width: 70%;
        transition: 0.4s;
    }
    .letra-momias{
        display: flex;
        width: 100%;
        text-align: center;
        padding: 50px;
    }
    .tren-menu{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 9px;
        margin: 9px;
        background-color: #f7f1e5;
        gap: 30px;
        transition: 0.4s;
        border-radius: 8px;
    }
    .imagen-tren{
        display: flex;
        width: 70%;
        transition: 0.4s;
    }
    .letra-tren{
        display: flex;
        width: 100%;
        text-align: center;
        padding: 50px;
    }
    .vinos-menu{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 9px;
        margin: 9px;
        background-color: #f7f1e5;
        gap: 30px;
        transition: 0.4s;
        border-radius: 8px;
    }
    .imagen-vinos{
        display: flex;
        width: 70%;
        transition: 0.4s;
    }
    .letra-vinos{
        display: flex;
        width: 100%;
        text-align: center;
        padding: 50px;
    }
    .comparsa-menu{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 9px;
        margin: 9px;
        background-color: #f7f1e5;
        gap: 30px;
        transition: 0.4s;
        border-radius: 8px;
    }
    .imagen-comparsa{
        display: flex;
        width: 70%;
        transition: 0.4s;
    }
    .letra-comparsa{
        display: flex;
        width: 100%;
        text-align: center;
        padding: 50px;
    }
    .pachamama-menu{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 9px;
        margin: 9px;
        background-color: #f7f1e5;
        gap: 30px;
        transition: 0.4s;
        border-radius: 8px;
    }
    .imagen-pachamama{
        display: flex;
        width: 70%;
        transition: 0.4s;
    }
    .letra-pachamama{
        display: flex;
        width: 100%;
        text-align: center;
        padding: 50px;
    }
    .milagro-menu{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 9px;
        margin: 9px;
        background-color: #f7f1e5;
        gap: 30px;
        transition: 0.4s;
        border-radius: 8px;
    }
    .imagen-milagro{
        display: flex;
        width: 70%;
        transition: 0.4s;
    }
    .letra-milagro{
        display: flex;
        width: 100%;
        text-align: center;
        padding: 50px;
    }
    .balderrama-menu{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 9px;
        margin: 9px;
        background-color: #f7f1e5;
        gap: 30px;
        transition: 0.4s;
        border-radius: 8px;
    }
    .imagen-balderrama{
        display: flex;
        width: 70%;
        transition: 0.4s;
    }
    .letra-balderrama{
        display: flex;
        width: 100%;
        text-align: center;
        padding: 50px;
    }


    .video-salta{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        padding: 9px;
        margin: 9px;
        background-color: #f7f1e5;
        gap: 30px;
        border-radius: 8px;
    }

 iframe{
    width: 280px;
 }
    

}